.form {
  font-family: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // height: 60vh;

  &__heading {
    font-size: 2.5rem;
    font-weight: 400;
    padding-top: 0.5em;
    background-image: linear-gradient(to right, $blue, $teal);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    &-text {
      display: block;
    }
  }

  .form__error__container {
    height: 50px;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .form__error__container--review {
    height: 50px;
    margin: 0.5em 0;
  }

  .form__error__msg {
    color: orangered;
    font-size: 1.3rem;
    font-style: italic;
    text-align: center;
    animation: fadeInErrMsg 6.5s ease-out backwards;
  }

  .form__field {
    color: inherit;
    font: inherit;
    font-size: 1.4rem;
    margin-bottom: 1em;
    padding: 0.5em;
  }

  .form__textarea {
    color: inherit;
    height: 50vh;
    font: inherit;
    font-size: 1.4rem;
    margin-bottom: 1em;
    padding: 1em;
  }

  .form__button__container {
    padding-top: 0.5em;
    text-align: center;
  }
}
