.modal {
  position: relative;
  overflow-y: hidden;

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -6em;
    background-color: rgba($black, 0.7);
    z-index: 10;
    overflow-y: hidden;
  }

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;

    background-color: $grey-light;
    padding: 3em;
    animation: modalFade 0.6s ease 0.2s backwards;
  }
}

@media (max-width: 31.25em) {
  .modal__content {
    padding: 1em;
  }
}
