// New navbar
.navigation {
  position: fixed;

  &__button {
    backface-visibility: hidden;
    background-color: $teal;
    cursor: pointer;
    display: inline-block;
    position: absolute;
    top: 1.5em;
    left: 1.5em;
    // height: 50px;
    // width: 50px;
    height: 3.5rem;
    width: 3.5rem;
    border: none;
    border-radius: 50%;
    outline: none;
    z-index: 10;

    &__icon {
      position: relative;
      margin-top: 1em;

      &,
      &::after,
      &::before {
        width: 1rem;
        height: 2px;
        background-color: #ddd;
        display: inline-block;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        transition: all 0.2s;
      }

      &::before {
        top: -0.4rem;
      }
      &::after {
        top: 0.4rem;
      }
    }

    &:hover &__icon {
      &::after {
        top: 0.6rem;
      }

      &::before {
        top: -0.6rem;
      }
    }
  }
}

.navigation__list {
  // background-color: rgb(41, 66, 66);
  // background-color: rgb(39, 32, 80);
  background-color: #555b7a;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 20;
  width: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &.open {
    animation: fadeInNav 0.5s ease;
    width: 30vw;
  }

  &__item:link,
  &__item:active,
  &__item:visited {
    color: $white;
    display: inline-block;
    font-size: 1.4rem;
    margin: 1em auto;
    text-decoration: none;
    transition: all 0.4s;

    &:hover {
      color: $teal;
    }
  }

  &__close--button {
    position: absolute;
    top: 1em;
    right: 1.5em;
    color: $grey-light;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      color: $teal;
    }
  }
}

@media screen and (max-width: 22em) {
  .navigation__button {
    height: 3rem;
    width: 3rem;
  }
}

@media (max-width: 37.5em) {
  .navigation__list {
    &.open {
      width: 40vw;
    }
  }
}

@media (min-width: 62.5em) {
  .navigation__list {
    &.open {
      width: 15rem;
    }
  }
}
