.tours {
  display: grid;
  grid-template-rows: repeat(2, minmax(30vh, min-content));
  grid-template-columns: repeat(auto-fit, minmax(14.5em, 1fr));
  grid-gap: 1em;
  grid-auto-rows: minmax(30vh, min-content);
  // background-color: $grey-light;
  padding-bottom: 3em;
  margin-left: 1.5em;
}

// breakpoint @ 800px ( ~ 50em ? )
